.gamePage {
    width: 75%;
    float: left;
    border-top: 80px solid #58728d;
    border-bottom: 80px solid #58728d;
    height: 100vh;
}

.movieCatalogue {
    overflow: scroll;
    padding: 40px 20px;
    height: 80%;
}

.movieCatalogueMovie {
    min-width: 25%;
    width: 200px;
    float: left;
    height: 75%;
    position: relative;
    padding: 20px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 2%;
}

/* .movieCatalogueMovie img {
    position: relative;
} */

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40% 40px;
    font-weight: bold;
    font-size: 1.5rem;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
    display: none;
}

.movieCatalogueMovie:hover .overlay {
    display: block;
}

.movieCatalogueMovie button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    text-align: center;
    background-color: #6fd7d6;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.yearDropDown {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: none;
    background: url(assets/dropDownArrow.png) 95% no-repeat;
    /* image came from Google images */
    background-color: #6fd7d6;
    appearance: none;
    cursor: pointer;
}

