.gamePage {
    width: 75%;
    float: left;
    border-top: 80px solid #58728d;
    border-bottom: 80px solid #58728d;
    height: 100vh;
}

.movieCatalogue {
    overflow: scroll;
    padding: 40px 20px;
    height: 80%;
}

.movieCatalogueMovie {
    width: 25%;
    float: left;
    height: 75%;
    position: relative;
    object-fit: fill;
    overflow: hidden;
    padding: 10px;
    /* margin-bottom: 2%; */
}

.movieCatalogueMovie button {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
    background-color: teal;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.yearDropDown {
    width: 100%;
    /* background-color: teal; */
    text-align: center;
    border: none;
    background-color: rgba(0, 128, 128, 0.5);
    background: url(assets/dropDownArrow.png) right no-repeat;
    appearance: none;
    cursor: pointer;
}