.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.landingPage {
    border-top: 100px solid #3080eb;
    /* border-bottom: 100px solid #3080eb; */
    min-height: 100vh;
}

.contentContainer {
    margin-top: 10vh;
}

.contentContainer h1 {
    padding: 0 10%;
    font-size: 3rem;
}

.contentContainer p {
    padding: 0 10%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.inputName {
    border-radius: 25px;
    border: 2px solid #3080eb;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
}

.inputName::placeholder {
    font-size: .8rem;
}

.startButton {
    display: block;
    background-color: #3080eb;
    color: white;
    width: 100px;
    margin: 20px auto 10vh auto;
    border-radius: 25px;
    padding: 10px 0;
    text-decoration: none;
    box-shadow: 3px 5px 3px 0 grey;
    transform: translateX(0) translateY(0);
    transition: transform 0.25s ease-in-out;
}

.startButton:active {
    transform: translateX(3px) translateY(3px);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    background-color: #3080eb;
    text-align: center;
}

footer i {
    padding: 10px;
}

footer a {
    margin: 30px 0;
    float: left;
    width: calc(100% / 3);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 1rem;
}

@media (max-width: 970px) {
    .contentContainer h1 {
        font-size: 2.5rem;
    }

    .contentContainer p {
        font-size: 1rem;
    }

}

@media (max-width: 510px) {
    footer {
        font-size: 1rem;
    }

    footer p {
        font-size: .5rem;
    }

    .contentContainer h1 {
        font-size: 2rem;
    }

    .contentContainer p {
        font-size: 1rem;
    }
}
@media (max-height: 700px) and (max-width: 340px) {
    .contentContainer h1 {
        font-size: 1.7rem;
        line-height: 1.8rem;
        margin-bottom: 10px;
    }
    .logo {
        height: 80px;
        width: 80px;
        margin-bottom: 10px;
    }
}

@media (max-height: 750px) and (max-width: 780px) {
    .contentContainer {
        margin-top: 3vh;
    }
}

@media (max-height: 685px) {
    .contentContainer h1 {
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
    .logo {
        height: 60px;
        width: 60px;
        margin-bottom: 10px;
    }

}

@media (max-height: 600px) {
    /* .contentContainer h1 {
        font-size: 2rem;
    } */
    .logo {
        height: 60px;
        width: 60px;
    }

    .contentContainer {
        margin-top: 5vh;
    }
    .contentContainer h1 {
        font-size: 1.4rem;
    }
    .contentContainer p {
        font-size: .9rem;
    }

    .inputName, .startButton {
        padding: 8px 0;
        margin-top: 10px;
    }

    footer a {
        margin: 10px 0;
    }

    .landingPage {
        border-top: 30px solid #3080eb;
    }
}