.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #58728d;
    margin: 0 auto;
    border: 1px solid #3080eb;
}

.landingPage {
    border-top: 100px solid #3080eb;
    /* border-bottom: 100px solid #3080eb; */
    min-height: 100vh;
}

.contentContainer {
    margin-top: 20vh;
}

.contentContainer h1 {
    font-size: 3rem;
}

.contentContainer p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.inputName {
    border-radius: 25px;
    border: 2px solid #3080eb;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}

.startButton {
    display: block;
    background-color: #3080eb;
    color: white;
    width: 100px;
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px 0;
    text-decoration: none;
    box-shadow: 3px 5px 3px 0 grey;
    transform: translateX(0) translateY(0);
    transition: transform 0.25s ease-in-out;
}

.startButton:active {
    transform: translateX(3px) translateY(3px);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 2rem;
    background-color: #3080eb;
    text-align: center;
}

footer i {
    padding: 10px;
}

footer a {
    margin: 30px 0;
    float: left;
    width: calc(100% / 3);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 1rem;
}