.userArea{
    width: 100%;
    float: left;
    background: #204470;
}

.boffoLogo {
    margin: 8% auto 0;
    height: 100px;
    width: 85px;
}

.user {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 5%;
}